.userDetailBanner {
    display: flex;
    position: relative;
    background-color: #47568a;
    width: 100%;
    height: 150px;
    padding-top: 10px;
}
.userDetailWrapper {
    width: 100%;
}
.usersUl {
    width: 100%;
    color: white;
    font-family: arial;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: center;
    padding-left: 0px;
}
.userDetailEmail {
    font-size: 12px;
}
.UDReservationWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
}
.UDReservationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: arial;
    font-size: 24px;
}
.UDReservationContainer {
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.reservationCard {
    margin: 5px;
    font-family: arial;
    width: 150px;
    display: flex;
    padding: 5px;
    border: 1px solid #999;
    background-color: white;
    border-radius: 7px;
}
.reservationCard > div > button {
    width: 150px;
    height: 25px;
    border: 1px solid #666;
    background-color: rgba(155,0,0,1);
    box-shadow: 0px 0px 5px #222;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.reservationCard > div > button:hover {
    background-color: red;
    box-shadow: 0px 0px 3px red;
    border: 1px solid rgba(255,100,100);
}
.reservationCard > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}
