a {
    text-decoration: none;
}

.mainPageBanner {
    font-family: arial;
}

.searchBanner {
    background-color: #47568a;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#restaurant-image {
    width: 100%;
    height: auto;
}

#restaurant-page {
    background-color: white;
    position: relative;
    left: 100px;
    top: 15px;
    display: flex;
    flex-direction: column;
    width: 60%
}

#restaurant-box {

    display: flex;
    flex-direction: column;
    width: 60%;
}


#restaurant-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.searchBanner {
    color: white;
}

.restaurantSearch {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #666666;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    z-index: 1;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    right: 25px;
}

.results-container>div {
    z-index: 0;
}

.results-container {
    position: relative;
    width: 99%;
    height: 100px;
}

.individual-result {
    border-bottom: 1px solid #666666;
    background-color: white;
    border-top: 1px solid white;
    width: 100%;
    font-family: arial;
    height: 20px;
    padding: 5px;
    cursor: hand;
    position: absolute;
    color: black;
    width: 100%;
    position: relative;
    left: 20px;
}

.individual-result>a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.individual-result:hover {
    text-decoration: none;
    background-color: #888888;
    cursor: pointer;
    color: black;
}

.restaurantsListWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #cccccc;
}

.restaurantDiv {
    width: 25%;
    font-family: arial;
    margin: 5px;
    background-color: white;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

.restaurantDiv:hover {
    border: 1px solid #666;
    box-shadow: 0px 0px 5px #666;
}

.restaurantDiv>img {
    height: 200px;
    max-width: 300px;
    min-width: 150px;
    width: 300px;
    z-index: 1;
}

.restaurantName {
    position: relative;
    top: -22px;
    padding-left: 5px;
    font-weight: bold;
    color: white;
    background-color: rgba(50, 50, 50, 0.65)
}

.restaurantPrice {
    color: #050;
    font-weight: bold;
    font-style: italic;
}
