.greeting,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.login-error {
  text-align: center;
  color: red;
}

.login-field {
  margin: 8px auto 8px 120px;
}

.login-button {
  margin-left: 180px;
}

.signup-link {
  margin-top: 12px;
  text-align: center;
}

.login-form {
  display: flex;
  margin: 19% auto auto auto;
  padding: 20px;
  background-color: white;
  flex-direction: column;
  border: 2px solid #f85329;
  border-radius: 12px;
  min-width: 360px;
  max-width: 420px;
  min-height: 220px;
}
