.review-error {
  text-align: center;
  color: red;
}

.review-content {
  padding: 0;
  margin: 5px;
}

.review-form {
  display: flex;
  margin: 8% auto auto auto;
  padding: 20px;
  background-color: white;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid #f85329;
  border-radius: 12px;
  min-width: 360px;
  max-width: 420px;
  min-height: 250px;
  margin-bottom: 10px;
}

.review-form>form>div>textarea {
  width: 360px;
  min-width: 360px;
  max-width: 360px;
  min-height: 150px;
  max-height: 220px;
  margin-left: 6px;
}

.review-form>form>input {
  width: 50%
}

.review-rating {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
}


.review-rating>input {
  margin-left: 10px;
}

.review-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
